head, body{
    margin: 0%;
    padding: 0%;
    background-image: radial-gradient(circle, #d3d3d3, #dedede, #e9e9e9, #f4f4f4, #ffffff);
}
.panel{
    display: flex;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 70px;
    background-color: rgba(235, 235, 235, 1);
}
.name{
    position: absolute;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    margin: 10px;
    font-size: 40px;
}
.buttonPanel{
    text-decoration: underline;
    font-family: 'Lexend', sans-serif;
    position: relative;
    top: 10px;
    left: 70%;
    margin: 15px;
    font-size: 25px;
}
.glavniy1{
    margin: 0;
    padding: 0;
    display: block;
}
.ProgramBanner{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 10%;
    padding: 10px;
    margin: 5px;
    width: 400px;
    height: 420px;
}
.banner{
    filter: drop-shadow(10px 10px 40px #FFFFFF);
    z-index: 2;
    display: block;
    bottom: 45px;
    left: 15px;
    padding: 5px;
    position: absolute;
    width: 319px;
    height: 389px;
    border-radius: 9px;
    background: #F5F5F5;
}
.buttonlanguage{
    text-decoration: underline;
    font-family: 'Lexend', sans-serif;
    position: relative;
    top: 70%;
    text-align: center;
    font-size: 25px;
}
.PYTHON{
    position: relative;
    bottom: 25px;
    margin: 10px auto 20px;
    display: block;
    width: 200px;
    height: 200px;
}
.pythonText{
    position: relative;
    font-size: 30px;
    bottom: 200px;
    left: 200px;
}
.Zagolovok{
    font-size: 42px;
    position: relative;
    left: 33%;
    top: 150px;
}
.text{
    position: relative;
    font-size: 30px;
    top: 150px;
    left: 19.5%;
}
.sub{
    display: inline-block;
    position: relative;
    top: 200px;
    left: 42%;
    filter: drop-shadow(10px 10px 40px #FFFFFF);
    width: 319px;
    height: 77px;
    border-radius: 9px;
    background: #F5F5F5;
}
.pythonButtom{
    text-decoration: underline;
    font-family: 'Lexend', sans-serif;
    position: relative;
    bottom: 5%;
    text-align: center;
    font-size: 25px;
}